apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - secret.sops.yaml
  - helmrelease.yaml
configMapGenerator:
  - name: mosquitto-configmap
    namespace: hass
    files:
      - mosquitto.conf=./config/mosquitto.conf
configurations:
  - ./patches/kustomizeconfig.yaml
