---
apiVersion: kubegres.reactive-tech.io/v1
kind: Kubegres
metadata:
  name: grafana-postgres
  namespace: monitoring
spec:
  scheduler:
    affinity:
      podAntiAffinity:
        preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                  - key: app
                    operator: In
                    values:
                      - postgres-name
              topologyKey: "kubernetes.io/hostname"
  replicas: 2
  image: docker.io/library/postgres:18.1
  database:
    size: 5Gi
    storageClassName: ceph-block
  env:
    - name: POSTGRES_PASSWORD
      valueFrom:
        secretKeyRef:
          name: grafana
          key: GF_DATABASE_PASSWORD
    - name: POSTGRES_REPLICATION_PASSWORD
      valueFrom:
        secretKeyRef:
          name: grafana
          key: GF_DATABASE_PASSWORD
