---
apiVersion: v1
kind: ConfigMap
metadata:
  name: cluster-settings
  namespace: flux-system
data:
  # Environmental Data
  TIMEZONE: "America/New_York"
  # IPs
  CP_ENDPOINT: 192.168.0.90
  # Sidero Versions
  # renovate: datasource=github-releases depName=siderolabs/talos
  TALOS_VERSION: v1.3.0
  # renovate: datasource=github-releases depName=kubernetes/kubernetes
  K8S_VERSION: v1.26.0
  # renovate: datasource=github-releases image=ghcr.io/siderolabs/installer
  TALOS_IMAGE: ghcr.io/siderolabs/installer:v1.4.7
  # renovate: datasource=github-releases image=ghcr.io/siderolabs/installer
  KUBELET_IMAGE: ghcr.io/siderolabs/kubelet:v1.28.3
